.button {
  @include button-reset;
  @include font-base;

  padding: $sp-xs $sp-sm;
  margin: 0;
  background-color: $color-primary;
  border: 0;
  border-radius: 10px;
  
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  font-family: $primary-font, $fallback-font-stack;
  font-size: $fs-sm;
  line-height: 1;
  text-transform: uppercase;
  
  transition: background-color $d-normal $ease-out;

  &:hover {
    background-color: $color-primary;
  }
}

.cta-link {
  color: $color-primary;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid $color-primary;
    transition: transform $d-normal $ease-out;
  }
  
  &:before {
    left: 0;
    bottom: 0;
  }
  
  &:after {
    right: 0;
    bottom: 3px;
  }

  &:hover:after {
    transform: translateX(100%);
    transition-delay: .1s;
  }
  
  &:hover:before {
    transform: translateX(-100%);
  }
}