/* stylelint-disable-line no-empty-source */

$color-red: #c61111;
$color-green: #21b579;
$color-purple: #979ae1;
$color-yellow: #f9b268;
$color-dark: #120707;
$color-dark-light: #181818;

$color-grey: #5c5d66;
$color-grey-dark: darken($color-grey, 5%);
$color-grey-darker: darken($color-grey, 10%);
$color-grey-darkest: darken($color-grey, 15%);
$color-grey-light: lighten($color-grey, 5%);
$color-grey-lighter: lighten($color-grey, 10%);
$color-grey-lightest: lighten($color-grey, 15%);

$color-white: #fff;

$color-primary: $color-yellow;
$color-secondary: $color-green;
$color-heading: $color-white;

$color-invalid: $color-red;
$color-success: $color-green;
$color-disabled: $color-grey-light;
