main {
  position: relative;
}

.screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;

  &.hidden {
    opacity: 0;
    z-index: -1;
  }

  &--start {
  }

  &--end {
  }

  &--audiovisuals {
  }

  &--linear {
  }
}
