.scene--controller {
  position: absolute;
  width: 100%;
  height: 100vh;

  h1 {
    text-align: center;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;

    &:hover {
      background-color: rgba($color-yellow, 0.8);
    }

    &--prev-scene {
      left: 20px;
    }

    &--next-scene {
      right: 20px;
    }
  }
}
