.screen__controls {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  display: flex;

  .mute,
  .fullscreen {
    @include button-reset;
  }

  .mute {
    margin: 0 1rem 0 0;

    .cross {
      transition: opacity $d-normal $ease-out;
    }

    &.muted .cross {
      opacity: 0;
    }

    path {
      stroke: $color-white;
    }
  }

  .fullscreen {
    polygon {
      fill: $color-white;
    }
  }
}
