.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &__title {
    margin: 0 0 2rem;
  }

  &__item {
    margin: 0 0 2rem;
  }

  &__type {
    font-size: 2rem;
    font-weight: bold;
  }

  &__anchor {
    margin: 0 0.1rem;
  }

  &__reset {
    margin: 2rem 0 0;

    @include tablet-portrait-up {
      margin-top: 6rem;
    }
  }
}
