.scene__controls {
  .mute,
  .fullscreen {
    @include button-reset;
    position: absolute;
    bottom: 10px;
  }

  .mute {
    right: 30px;
    margin: 0 3vw 0 0;

    &.muted .cross {
      opacity: 0;
    }

    path {
      stroke: $color-white;
    }
  }

  .fullscreen {
    right: 25px;

    polygon {
      fill: $color-white;
    }
  }
}
