.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: opacity $d-slow $ease-out;

  &__loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    > * {
      transform: translateY(0);
    }

    &.hidden > * {
      opacity: 0;
      transform: translateY(15px);
    }

    //prettier-ignore
    @for $i from 1 through 4 {
      > *:nth-child(#{$i}) {
        transition: opacity 1.75s ($i * .75s) $ease-out-quart,
                    transform 1.75s ($i * .75s) $ease-out-quart,
                    color $d-slow $ease-in-out;
      }
    }

    &-text {
      max-width: 540px;
      margin: 0 0 2rem;
      font-size: 16px;

      @include tablet-portrait-up {
        margin-bottom: 4rem;
        font-size: 22px;
      }
    }
  }

  &__recommendation {
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 300px;
    margin: 0 0 4rem;

    @include tablet-portrait-up {
      margin-bottom: 8rem;
    }
  }

  &__icon {
    margin: 0 0 1rem;
  }

  &__play {
    position: relative;
    display: inline-block;
    margin: 0 0 2rem;
    padding: 0.5rem 2.3rem;
    border: 1px solid $color-white;
    z-index: 100;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;

    @include tablet-portrait-up {
      font-size: 24px;
      margin-bottom: 8rem;
    }

    &::before {
      content: ' ';
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      transform: translateX(-110%) skew(17deg, -2deg);
      transition: transform $d-slow $ease-in-out-quart;
    }

    &:hover {
      color: $color-dark;

      &::before {
        transform: translateX(0) skew(0);
      }
    }
  }
}
