.scene--1 {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: flex;
    text-transform: uppercase;
    line-height: 0.75;
  }

  .untold {
    font-size: 200px;
  }

  .stories {
    font-size: 80px;
    line-height: 0.79;
    height: 300px;

    > div {
      overflow: hidden;
      margin: 0 0 1px;
    }

    .d-1 {
      height: 3%;
    }

    .d-2 {
      height: 5%;
    }

    .d-3 {
      height: 7%;
    }

    .d-4 {
      height: 11%;
    }
  }
}
