main {
  position: relative;
}

.scene {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  line-height: 0.75;

  &.hidden {
    opacity: 0;
    z-index: -1;
  }

  .wrapper {
    // position: absolute;
    display: flex;
    text-transform: uppercase;
    line-height: 0.75;
  }
}

.mask {
  overflow: hidden;
}
