main {
  position: relative;
}

.scene {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  &.hidden {
    opacity: 0;
    z-index: -1;
  }
}

.mask {
  overflow: hidden;
}
