.scene--1 {
  .untold {
    font-size: 200px;
  }

  .stories-wrapper {
    font-size: 80px;
    line-height: 0.79;
    height: 300px; // not sure what to do with this yet

    .stories {
      overflow: hidden;
      margin: 0 0 1px;
    }

    .s-1 {
      height: 3%;
    }

    .s-2 {
      height: 5%;
    }

    .s-3 {
      height: 7%;
    }

    .s-4 {
      height: 11%;
    }
  }
}
